*.z64
build/*
.*~
*.rz
.vscode/settings.json
.vscode/c_cpp_properties.json
*.tmp
.vscode/ipch/*
ge007.u.bin
/.vs
lib/libultra_rom.a

build/assets/obseg/text/LoptionsE.rz
build/assets/obseg/text/LaztE.rz
build/assets/obseg/text/LcradE.rz
build/assets/obseg/text/LcrypE.rz
build/assets/obseg/text/LdamE.rz
build/assets/obseg/text/LdepoE.rz
build/assets/obseg/text/LdestE.rz
build/assets/obseg/text/LgunE.rz
build/assets/obseg/text/LjunE.rz
build/assets/obseg/text/LlenE.rz
build/assets/obseg/text/LmiscE.rz
build/assets/obseg/text/LmpmenuE.rz
build/assets/obseg/text/LmpweaponsE.rz
build/assets/obseg/text/LpeteE.rz
build/assets/obseg/text/LcaveE.rz
ge007.u.elf
baserom.u.dump
ge007.u.dump
